body {
    overflow-x: hidden;
}
.bg-cream{
    background-color: $warna3;
}
.border-cream{
    border-color:$warna1 !important;
}
.color-primary{
    color: $warna1;
}
.color-gray{
    color: #7B8794;
}