.welcome-swiper.swiper-container {
    position: absolute;
    top: 53%; right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 280px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .welcome-swiper.swiper-container {
        height: 280px;
    }
}

@media (max-width: 991.98px) {
    .welcome-swiper.swiper-container {
        max-width: 100%;
        top: 0;
        right: 0;
        left: 0;
        height: 320px;
    }
}

@media (max-width: 767.98px) {
    .welcome-swiper.swiper-container {
        height: 600px;
        justify-content: center;
        align-items: center;
    }
}

.welcome-swiper .swiper-slide .image {
    height: 50%;
    width: 100%;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-swiper .swiper-pagination {
    position: absolute;
    z-index: 10;
    bottom: .1rem;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.welcome-swiper .swiper-pagination .swiper-pagination-bullet {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0 0.25rem;
    display: block;
    background-color: transparent;
    border: 1px solid #ff0112;
    border-radius: 100%;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

@media (min-width: 1200.98px) {
    .welcome-swiper .swiper-pagination {
        bottom: 2.3rem;
    }
}
@media (max-width: 575.98px) {
    .welcome-swiper .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}

.welcome-swiper .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: #ff6670;
}

.welcome-swiper
    .swiper-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color:$warna2;
}

// ini article
@media (min-width: 1200px) {
    .artikel-swiper.swiper-container {
        height: 500px;
    }
}

@media (max-width: 991.98px) {
    .artikel-swiper.swiper-container {
        max-width: 100%;
        top: 0;
        right: 0;
        left: 0;
        height: 381px;
    }
}

@media (max-width: 767.98px) {
    .artikel-swiper.swiper-container {
        height: 100%;
    }
}

.artikel-swiper .swiper-slide  {
    height: 100%;
    padding-bottom: 3rem;
    @include media-breakpoint-down(md) {
       flex-direction: column;
       align-items: center;
       }
}
.artikel-swiper .swiper-slide .desc {
    max-height: 90%;
    @include media-breakpoint-down(md) {
        p{
            text-align: center;
        }
        }
}
.artikel-swiper .swiper-slide .image {
    width: 100%;
    height: 300px;
    border: 10px solid #ECCBAA;
    border-radius: 34px;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include media-breakpoint-down(lg) {
        height: 200px;
        }
}

.artikel-swiper .swiper-pagination {
    position: absolute;
    z-index: 10;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.artikel-swiper .swiper-pagination .swiper-pagination-bullet {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0 0.25rem;
    display: block;
    background:  url('/../../frontend-assets/image/icon/pigen-2.png') no-repeat center;
    background-size:cover;
    border-radius: 100%;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

@media (min-width: 1200.98px) {
    .artikel-swiper .swiper-pagination {
        bottom: 0;
    }
}
@media (max-width: 575.98px) {
    .artikel-swiper .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}

.artikel-swiper .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: #ff6670;
}

.artikel-swiper
    .swiper-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background:  url('/../../frontend-assets/image/icon/pigen.svg') no-repeat center;
         background-size:cover;
}
